$media-desktop: "only screen and (max-width: 1200px)";
$media-tablet: "only screen and (max-width: 768px)";
$media-mobile: "only screen and (max-width: 576px)";
$media-mobile-sm: "only screen and (max-width: 375px)";


@media #{$media-desktop}{
  body{
    background: teal;
  }
}//desktop

@media #{$media-tablet}{
  body{
    background: teal;
  }
}//tablet

@media #{$media-mobile}{
  body{
    background: teal;
  }
}//mobile

@media #{$media-mobile-sm}{
  body{
    background: teal;
  }
}//mobile-sm
